body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f8ff;
    color: #333;
    text-align: center;
}

.hidden {
    display: none;
}

/* Home Page */
.triangle-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173px solid #ff6f61;
    transform: rotate(180deg);
}

.triangle-part {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    cursor: default;
}

#part-3 {
    top: 0;
    border-width: 57px 100px 0 100px;
    border-color: #ff6f61 transparent transparent transparent;
}

#part-2 {
    top: 57px;
    border-width: 57px 100px 0 100px;
    border-color: #ffb347 transparent transparent transparent;
}

#
